body {
  background-color: #F8F8F8;
}
.difficulty {
  border: 2px solid;
  border-radius: 50%;
  background-color: #fff;
  padding: 5px;
  position: absolute;
  font-size: 25px;
  font-weight: 400;
  top: 15px;
  right: 15px;
}
.img-wrapper {
  position: relative;
}
.preview {
  height: 60px;
  background-color: pink;
}
/* 데스크탑 사이즈 */
@media (min-width: 1024px) {
  .container-wrap {
    margin: 10px 20px;
  }
  main {
    width: 100%;
    font-weight: 800;
    font-size: 0px;
  }
  .cuisine-container {
    display: inline-block;
    width: calc(100% / 3);
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 3px 10px 0 rgba(0,0,0,0.1);
  }
  figure {
    max-width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #fff;
  }
  img {
   transform: scale(1.5);
  }
  .img-wrapper {
    width: 100%;
    height: 350px;
    overflow: hidden;
  }
  figcaption {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .fa-bookmark {
    margin-top: 20px;
    margin-right: 10px;
    float: right;
  }
  .fa-bookmark::after {
    content: '';
    display: block;
    clear: both;
  }
}

/* 중간 사이즈 */
@media (max-width: 1023px) {
  .container-wrap {
    margin: 10px 0;
  }
  main {
    width: 100%;
    color: #333;
    font-size: 18px;
    font-weight: 600;
    margin: 0 auto;
  }
  .cuisine-container {
    width: 85%;
    margin: auto;
    margin-bottom: 20px;
    background-color: #fff;
  }
  figure {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  img {
    width: 100%;
    margin-bottom: 10px;
    display: block;
  }
  .img-wrapper {
    width: 100%;
    height: 350px;
    overflow: hidden;
  }
  figcaption {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 0;
  }
  .fa-bookmark {
    margin-top: 10px;
    margin-right: 20px;
    padding: 10px 0;
    float: right;
  } 
}

/* 모바일 사이즈 */
@media (max-width: 767px) {
  .container-wrap {
    margin: 10px 0;
  }
  main {
    width: 100%;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    margin: 0 auto;
  }
  .cuisine-container {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    background-color: #fff;
  }
  figure {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  img {
    width: 100%;
  }
  /* .img-wrapper {
    width: 100%;
    height: auto;
  } */
  figcaption {
    display: inline-block;
    margin-left: 10px;
  }
  .fa-bookmark {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 0;
  } 
}