.container {
  position: relative;
  top: 0;
  left: 0;
  padding-top: 80px;
  padding-bottom: 200px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

.fa-chevron-down {
  float: right;
  cursor: pointer;
  transition: all 1s;
}

.fa-chevron-down.active {
  transform: rotate(180deg);
}

.ingredient > ul {
  min-height: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main-inner {
  margin: 40px 20px 40px;
  text-align: center;
}

.ingredient-name h3,
.category h3 {
  display: inline-block;
  padding: 20px;
  text-align: left;
  /* background-color: #444; */
}

.category h3 .ingredient-list-title {
  padding: 20px 0;
  text-align: left;
}

.ingredient-name li,
.category li {
  display: inline-block;
  padding: 20px;
  vertical-align: middle;
  min-width: 300px;
  /* background-color: #fff; */
}

.ingredient-name-btn {
  /* border: 1px solid black; */
  padding: 5px;
  border-radius: 10px;
  transition: all 0.3s;
}

.ingredient-name-btn:hover {
  background-color: #444;
  color: #fff;
}

.ingredient-name input,
.ingredient-name button,
.category input,
.category button,
.category select {
  vertical-align: middle;
  border: 2px solid black;
  padding: 5px;
}

.category select {
  margin-right: 10px;
}

.ingredient-name button {
  margin-left: 10px;
}

.category {
  position: relative;
  display: block;
  padding: 15px;
  background-color: #ddd;
  color: #333;
  z-index: 15;
  transition: all 0.2s;
}

.ingredient {
  display: none;
}

.ingredient.view {
  display: block;
}

.ingredient ul {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ingredient ul li {
  font-weight: 600;
  color: #777;
  margin: 10px 5px;
  padding: 10px 15px;
  border: 2px solid #888;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
}

.ingredient ul li:hover {
  color: #e47921;
  border: 2px solid #e47921;
}

.ingre-item-container {
  /* display: none; */
  overflow: scroll;
  position: fixed;
  width: 100%;
  height: 200px;
  bottom: 60px;
  z-index: 20;
  border: 2px solid black;
  border-radius: 20px 20px 0 0;
  box-sizing: border-box;
  background-color: #ddd587;
  padding: 10px;
  transition: all 0.8s ease;
  transform: translateY(750px);
}

.ingre-item-container.active {
  transform: translateY(0px);
}

.ingre-item {
  font-weight: 600;
  color: #777;
  margin: 10px 5px;
  padding: 10px 15px;
  border: 2px solid #888;
  border-radius: 15px;
  display: inline-block;
  background-color: #fff;
}

.remove-ingre-item {
  display: inline-block;
  margin-left: 5px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  text-align: center;
  text-indent: -2.5px;
  line-height: 15px;
}

.cookEnter {
  position: fixed;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  right: 80px;
  bottom: 270px;
  transform: translate(50%);
  z-index: 15;
  line-height: 50px;
  text-align: center;
  background-color: #fff;
  color: #e47921;
  border: 2px solid #e47921;
  box-sizing: border-box;
  transition: all 0.8s ease;
  transform: translateY(750px);
}

.cookEnter:hover {
  background-color: #e47921;
  color: #fff;
  border: 2px solid #e47921;
}

.refresh {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  right: 25px;
  bottom: 270px;
  transform: translate(50%);
  z-index: 15;
  line-height: 50px;
  text-align: center;
  background-color: #fff;
  color: #e47921;
  border: 2px solid #e47921;
  box-sizing: border-box;
  transition: all 0.8s ease;
  transform: translateY(750px);
}

.refresh.active,
.cookEnter.active {
  transform: translateY(0px);
}

.refresh:hover {
  background-color: #e47921;
  color: #fff;
  border: 2px solid #e47921;
}
