.container {
  position: relative;
  top: 0;
  left: 0;
  padding-top: 80px;
  padding-bottom: 200px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.fa-chevron-down {
  float: right;
  cursor: pointer;
}

.fa-chevron-down.active {
  transform: rotate(180deg);
}

.ingredient > ul {
  min-height: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main-inner {
  margin: 40px 20px 40px;
  text-align: center;
}

.category > h2 {
  display: inline-block;
}

.ingredient-name h2,
.category h2 {
  display: inline-block;
  padding: 20px;
  text-align: left;
  /* background-color: #444; */
}

.ingredient-list-title {
  padding: 20px 0;
  text-align: left;
}

.ingredient-name li,
.category li {
  display: inline-block;
  padding: 20px;
  vertical-align: middle;
  min-width: 300px;
  /* background-color: #fff; */
}

.ingredient-name-btn {
  /* border: 1px solid black; */
  padding: 5px;
  border-radius: 10px;
  transition: all 0.3s;
}

.ingredient-name-btn:hover {
  background-color: #444;
  color: #fff;
}

.ingredient-name input,
.ingredient-name button,
.category input,
.category button,
.category select {
  vertical-align: middle;
  border: 2px solid black;
  padding: 5px;
}

.category select {
  margin-right: 10px;
}

.ingredient-name button {
  margin-left: 10px;
}

.category {
  padding: 15px;
  background-color: #ddd;
  color: #333;
}

.ingredient ul {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ingredient ul li {
  font-weight: 600;
  color: #777;
  margin: 10px 5px;
  padding: 10px 15px;
  border: 2px solid #888;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
}

.ingredient ul li:hover {
  color: #e47921;
  border: 2px solid #e47921;
}

.ingre-item-container {
  /* display: none; */
  overflow: scroll;
  position: fixed;
  width: 100%;
  height: 200px;
  bottom: 80px;
  z-index: 1;
  border: 2px solid black;
  border-radius: 20px 20px 0 0;
  box-sizing: border-box;
  background-color: #ddd587;
  padding: 10px;
  transition: all 1s ease;
  transform: translateY(750px);
}
.ingre-item-container.active {
  /* transition: all 1s ease; */
  transform: translateY(0px);
}
.ingre-item {
  list-style: none;
  border: 1px solid black;
  display: inline-block;
  padding: 5px;
  border-radius: 15px;
  background-color: #fff;
}

.remove-ingre-item {
  display: inline-block;
  margin-left: 5px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  text-align: center;
  background-color: #ddd;
  text-indent: -2.5px;
  line-height: 15px;
}

/* @media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }
} */
