.container {
  position: relative;
  top: 0;
  left: 0;
  background-color: #ddd;
}

header {
  position: relative;
  top: 0;
  left: 0;
}

.main-inner {
  margin: 40px 20px 40px;
  text-align: center;
}

.category > h2 {
  display: inline-block;
}

.ingredient-name h2,
.category h2 {
  display: inline-block;
  padding: 20px;
  text-align: left;
  /* background-color: #444; */
}

.ingredient-list-title {
  padding: 20px 0;
  text-align: left;
}

.ingredient-name li,
.category li {
  display: inline-block;
  padding: 20px;
  vertical-align: middle;
  min-width: 300px;
  /* background-color: #fff; */
}

.ingredient-name-btn {
  /* border: 1px solid black; */
  padding: 5px;
  border-radius: 10px;
  transition: all 0.3s;
}

.ingredient-name-btn:hover {
  background-color: #444;
  color: #fff;
}

.ingredient-name input,
.ingredient-name button,
.category input,
.category button,
.category select {
  vertical-align: middle;
  border: 2px solid black;
  padding: 5px;
}

.category select {
  margin-right: 10px;
}

.ingredient-name button {
  margin-left: 10px;
}

.prev-btn {
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 40px;
  border: none;
  border-radius: 20px;
  font-size: 12px;
  color: black;
  /* background-color: #fff; */
  transition: background 0.3s;
}

.prev-btn:hover {
  background-color: #fff;
}

.ingre-add-btn {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 40px;
  border: none;
  border-radius: 20px;
  font-size: 12px;
  color: black;
  transition: background 0.3s;
}

.ingre-add-btn:hover {
  background-color: #fff;
}

.ingredient-list-plus {
  padding: 15px;
  min-height: 300px;
  background-color: #999;
  border: 2px solid black;
  text-align: left;
}

.ingredient-list-plus li {
  border: 2px solid black;
  background-color: #fff;
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
}

.ingredient-list-plus li a {
  cursor: text;
}

.ingredient-list-plus li .fa-minus-circle {
  display: inline-block;
  padding-left: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.ingredient-list-plus li .fa-minus-circle:hover {
  transform-origin: -50% 0%;
  transform: rotate(45deg);
}
