button{
  background-color:transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.header-memo{
  position: relative;
}
.header-memo .prev {
  position: absolute;
  top:14px;
  left: 20px;
  padding:15px;
}
main{
<<<<<<< HEAD
  height:100%;
=======
  height: 100%;
  padding:15px;
  color:#333
>>>>>>> Feat-/-cart
}
.ref-preview-btns {
  padding:25px 10px;
  background-color:rgb(51, 51, 51,0.1);
  margin:20px 0;
}
.ref-preview-btns > ul > li{
  display: inline-block;
  margin-right:10px;
}
.ref-preview-btns button{
  border:1px solid rgb(51, 51, 51,0.2);
  background-color: rgb(255, 255, 255,0.5);
  padding:10px 20px;
  border-radius: 30px;
}
.ref-preview-btns button:hover{
  background-color: #fff;
}
.cart-memo{
  margin-top: 20px;
}
.cart-memo > input{
  width: 100%;
  padding:15px 30px;
  border:none;
  box-sizing: border-box;
  border-radius: 30px;
  background-color:rgb(250, 169, 63,0.9) ;
  margin-bottom:20px;
  color:#333;
  outline:none;
  font-size:18px
}
.cart-memo > input::placeholder{
  color:#fff
}
.cart-list{
<<<<<<< HEAD
  padding:10px;
  overflow:auto;
  height: 260px;
=======
  height: 300px;
  overflow: auto; 
  border-top:1px solid  rgba(250,169,63,0.3);
  border-bottom:1px solid rgba(250,169,63,0.3);
>>>>>>> Feat-/-cart
}
.cart-list li{
  position: relative;
  /* display: block; */
  height: 50px;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(250,169,63,0.3);
  list-style: none;
}
.cart-list li:first-child{
  border-top:none
}
.checkbox{
  display: none
}
.checkbox + label {
  position: absolute; 
  top: 50%;
  left: 15px;
  transform: translate3d(0, -50%, 0);
  display: inline-block;
  width: 60%;
  line-height: 2em;
  padding-left: 35px;
  cursor: pointer;
  user-select: none;
}
.checkbox + label::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 0);
    width: 16px;
    height: 16px;
    background-color: rgba(250,169,63,0.3);
  }
  .checkbox:checked + label::after {
    content: "";
    width: 16px;
    height:16px;
    position: absolute;
    top: 50%;
    /* left:1; */
    transform: translate3d(0, -50%, 0);
    background-color:rgba(250,169,63,0.7);
  }
  
  .cart-list i{
  position: absolute;
  top:50%;
  transform: translate3d(0, -50%, 0);
  right:15px;
  padding:5px 9px;
  /* border:1px solid rgba(250,169,63,0.8); */
  border-radius: 20px;
  cursor: pointer;
  color:rgb(158, 158, 158)
}
.cart-list i:hover{
  color:#fff;
  /* padding:5px 9px; */
  background-color: rgba(250,169,63,0.8);
}
.cart-all-btns{
  position: relative;
  height: 50px;
  bottom:0;
  /* padding: 10px 15px;
  margin-bottom: -1px; */
}
.cart-all-btns .checkbox + label::after{
  background-color: transparent;
  width:20px;
  height: 20px;
  border:2px solid rgba(250,169,63,0.7);
  box-sizing: border-box;
}
.cart-all-btns .checkbox:checked + label::after{
  background-color: rgba(250,169,63,0.8);
}
.cart-all-remove{
  position: absolute; 
  right:10px;
  top:50%;
  transform: translate3d(0, -50%, 0);
  font-size: 16px;
}

.clearfix::after{
  content: '';
  display: block;
  clear: both;
}