main{
  height: 100%;
  padding:20px 40px;
  color:#333;
  margin-bottom: 80px;
  /* position: relative; */
}
main section{
  margin-bottom: 30px;
}
main section h3 {
  margin-bottom:20px;
}
.my-info {
  padding-bottom:20px ;
  border-bottom:1px solid black;
}
.my-info .my-img{
  width: 150px;
  height: 150px;
  line-height: 150px;
  display: inline-block;
  position: relative;
  text-align: center;
}
.my-img span {
  color:#fff;
}
.my-name span{
margin-left: 200px;
font-size: 20px;
text-decoration: underline;
}
.my-info .my-img::after{
  content: '';
  position: absolute;
  z-index: -1;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
  width: 150px;
  height:150px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 8px solid #eee;
  background-color: rgb(51, 51, 51,0.3);
}
.my-img:hover::after{
  background-color: rgb(51, 51, 51,1);
}
.my-info-category {
}
.my-info-category > li {
  height: 200px;
  margin-bottom:20px ;
}
.bookmark-recipe li {
  border:1px solid red;
  float: left;
  box-sizing: border-box;
  width:calc(100% / 3);
  height:170px;
}

.my-info-category li h5{
  font-size: 16px;
}
.add-recipe div{
  text-align: center;
  height: 170px;
  border: 3px dashed #ddd;
  /* box-shadow: 3px 0 5px 0 #ddd; */
}
.add-recipe button{
  font-size: 40px;
  padding:70px;
  
}
