main{
  /* border:1px solid red; */
  height: 100%;
  padding:20px 40px;
  color:#333;
  margin-bottom: 60px;
  position: relative;
}

main section h3 {
  margin-bottom:10px;
  margin-top:10px;
}
.my-info {
  padding-bottom:20px ;
  border-bottom:1px solid black;
}
form{
  float: left;
}
.input-wrapper{
  position: relative;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  background: orange url(../image/user.png) no-repeat center;
  background-size: cover;
  
}

.img-submit{
  width: 0;
  height: 0;
}
.img-submit::after{
  cursor: pointer;
  content: '+';
  position: absolute;
  width:100%;
  height: 100%;
  line-height: 100px;
  font-size: 70px;
  text-align: center;
  color:rgba(255, 255, 255,0.3);
  font-weight: 100;
  top:0;
  left:0;
}
.img-submit:hover::after{
  color:#fff;
  background-color:rgb(0, 0, 0,0.4)
}
.my-info-category > li > button{
border:3px solid rgba(235, 235, 235, 0.548);
border-radius: 20px;
padding:10px;
float: left;
margin-bottom:5px;
margin-right:8px;
box-sizing: border-box;
font-weight: 600;
font-size:10px;
color: #333;

}

.my-name{
float:left;;
margin-top:30px;
margin-left:120px;
padding-left: 10px;
padding-bottom:20px;
letter-spacing: 10px;
border-bottom: 5px solid rgba(221, 221, 221, 0.4);
font-size:20px;
}
.my-info-category > li > button.attive,
.my-info-category > li > button:hover{
  background-color:rgb(255, 180, 40) ;
  border-color:transparent;
  color: #fff;
}
.my-info-category{
  position: relative;
  height: 300px;
  overflow: hidden;
  padding:2px;
  box-sizing: border-box;
}
.my-info-category li {
  position: relative;
}
.tab{
  margin-top:50px;
  width: 100%;
  position: absolute;
  top:50px;
  color:#000;
  /* z-index: 0; */
}
.tab>span::after{
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  margin:10px 0;
  background-color: black;
}
.my-info-category > span{
  display: inline-block;
  width: 100%;
  margin: 15px 0;
}
.my-info-category > li > div{
  display: none;
}

.like-recipe-content li {
  border:2px solid transparent;
  float: left;
  width: 25%;
  padding:5px;
  box-sizing: border-box;
  overflow: hidden;
  height: 80px;
}
.like-recipe-content li img{
  max-height: 100%;
  transform: scale(1.3);
}
.like-recipe-content li:hover{
background-color: rgba(0, 0, 0, 0.815);
}
.my-recipe-content {
border:3px dashed #ddd;
margin-top:10px;
}
.my-recipe-content button{
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size:50px;
  text-align: center;
}
.my-recipe-content:hover,
.my-recipe-content button:hover{
  background-color: #333;
  color:#fff;
  border:none
}
.my-info-category > li > div.tab1 {
  display: block;
}

.my-post-content{
  /* border:1px solid red; */
}
.my-post-content li{
  height: 130px;
  margin:10px 0;
}
.post{
  text-align: center;
  height: 130px;
  font-size: 15px;
  border-radius: 10px;
  border:1px solid #000;
  box-sizing: border-box;
}
.my-post-content p{
  display: inline-block;
  width: 80px;
  margin-bottom: 10px;
  padding:0 40px;
  line-height: 1.3;
}
.my-post-content span{
  display: block;
  font-size: 14px;
}
.post img{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  float:left;
  width:50%;
  height: 100%;
  background-color: #000;
}

.post>div{
  height: 130px;
  width:50%;
  float: right;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(12, 12, 11, 0.753);
  color:#fff
  
}
.post>div>div{
  transform: translateY(50%);
}
.post:hover{
  background-color: rgba(0, 0, 0, 0.856);
  color:#fff
}