@font-face {
  font-family: 'GimJe';
  font-style: normal;
  font-weight: 800;
  src: url('/public/fonts/GIMJE-L.TTF') format('truetype');
}
:root {
  --main-color: #faa93f;
  --main-font: 'GimJe';
}
body {
  font-family: var(--main-font);
 }
 .container {
   width: 100%;
 }
 header {
   height: 80px;
   line-height: 80px;
   background-color: var(--main-color);
   text-align: center;
 }
 main {
   margin: 20px;
 }
 nav {
   width: 100%;
   height: 80px;
   position: fixed;
   left: 0;
   bottom: 0;
 }
 .nav-list {
   width: 100%;
   height: 100%;
   border-top: 1px solid var(--main-color);
 }
 .nav-list > li {
   text-align: center;
   line-height: 80px;
   display: inline-block;
   background-color: #fff;
   width: 32%;
 }
 .nav-list > li:not(:last-child) {
   border-right: 1px solid var(--main-color);
 }