header {
  color: #fff;
  position: relative;
}
main {
  margin: 20px;
}
.back-btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  border: 0;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  outline: none;
}
.main-image {
  margin: 0 auto;
  max-width: 1024px;
  min-width: 280px;
  overflow: hidden;
  /* padding-top: 200px; */
}
.main-image img {
  display: block;
  width: 100%;
}
.main-description {
  max-width: 1024px;
  margin: 0 auto;
}
.food-title {
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
}
.food-name {
  display: inline;
  font-size: 30px;
  font-weight: 600;
  flex-grow: 2;
}
.food-title span {
  line-height: 30px;
  padding-right: 5%;
  font-size: 16px;
  font-weight: 600;
}
.fa-bookmark {
  line-height: 30px;
  padding-left: 5%;
  font-size: 20px;
}
.super-stuff h2 {
  margin-bottom: 20px;
  font-size: 16px;
}
.super-stuff ul {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin: 10px;
  margin-bottom: 40px;
}
.super-stuff ul > li {
  /* margin-right: 15px; */
  /* margin-bottom: 5px; */
  margin: 5px;
  padding: 10px 15px;
  font-size: 14px;
  border: 2px solid #888;
  border-radius: 15px;
  background-color: var(--main-color);
  color: rgb(231, 226, 226);
}
.super-stuff ul > .not-stuff {
  background-color: #fff;
  color: #333;
}
.red:active {
  background-color: blueviolet;
}
/* .sub-stuff h2 {
  margin-bottom: 20px;
  font-size: 16px;
}
.sub-stuff ul {
  display: flex;
  justify-content: start;
  margin-bottom: 30px;
  margin-left: 20px;
}
.sub-stuff ul > li {
  padding-right: 15px;
  font-size: 14px;
} */
.recipe {
  list-style: decimal;
  margin-left: 20px;
}
.recipe li {
  margin-bottom: 20px;
  font-size: 16px;
}
@media (min-width: 319px) and (max-width: 1023px) {
  .food-name {
    font-size: 22px;
    line-height: 30px;
  }
}
