.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
body {
  background-color: #fff;
  color: #faa93f;
}
.container {
  max-width: 1024px;
  width: 780px;
  margin: 0 auto;
}
.header {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
.header .title {
  font-size: 45px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input::placeholder {
  color: #faa93f;
}
#user-id,
#user-pw,
#user-pw-check,
#user-nickname {
  display: block;
  background: #fff;
  border: 0;
  border-bottom: 1px solid #faa93f;
  margin-bottom: 20px;
  padding-bottom: 10px;
  outline: none;
  color: #faa93f;
  width: 250px;
}
.sign-up {
  float: right;
  border: 1px solid #faa93f;
  border-radius: 3px;
  background-color: #faa93f;
  color: #fff;
  padding: 5px;
  margin-top: 20px;
}
div[class$='container'] {
  position: relative;
  width: 100%;
}
span[class^='alert'] {
  color: #fa553f;
  font-size: 10px;
  position: absolute;
  top: 30px;
  left: 0;
  display: none;
}
