<div class='container'>
	<header>요리보기</header>
	<button class='back-btn'>뒤로</button>
	<main class='main'>
		<div class='preview'>
			<ul class='preview-list'></ul>
		</div>
		<div class='container-wrap'></div>
		<div class='popup'>
			<p>즐겨찾기에 <br />추가되었습니다.🍏</p>
		</div>
		<div class='overlay'></div>

	</main>
</div>