<div class='total-cuisine-container'>
	<header class='cuisine-header'>
		<h2 class='cuisine-title'>요리보기</h2>
		<button class='cuisine-back-btn'>뒤로</button>

	</header>
	<main class='cuisine-main'>
		<div class='preview'>
			<ul class='preview-list'></ul>
		</div>
		<div class='container-wrap'></div>
		<div class='popup'>
			<p>즐겨찾기에 <br />추가되었습니다.🍏</p>
		</div>
		<div class='overlay'></div>

	</main>
</div>