<div class='container'>
	<header>요리 재료 선택</header>
	<main>
		<ul class='ingredientes'>
			<li>
				<h3 class='category gogi'>육류<i class='fa fa-chevron-down'></i></h3>
				<div class='ingredient'>
					<ul>
						<li class='gogi-item'>소고기</li>
						<li class='gogi-item'>돼지고기</li>
						<li class='gogi-item'>닭고기</li>
						<li class='gogi-item'>오리고기</li>
					</ul>
				</div>
			</li>

			<li>
				<h3 class='category vege'>채소/과일<i class='fa fa-chevron-down'></i></h3>
				<div class='ingredient'>
					<ul>
						<li class='vege-item'>양파</li>
						<li class='vege-item'>김치</li>
						<li class='vege-item'>대파</li>
						<li class='vege-item'>고추</li>
						<li class='vege-item'>마늘</li>
						<li class='vege-item'>무</li>
						<li class='vege-item'>생강</li>
						<li class='vege-item'>당근</li>
					</ul>
				</div>
			</li>

			<li>
				<h3 class='category seafood'>수산물<i class='fa fa-chevron-down'></i></h3>
				<div class='ingredient'>
					<ul>
						<li class='seafood-item'>새우</li>
						<li class='seafood-item'>꽃게</li>
						<li class='seafood-item'>멸치</li>
						<li class='seafood-item'>다시마</li>
						<li class='seafood-item'>미역</li>
					</ul>
				</div>
			</li>

			<li>
				<h3 class='category cereal'>곡물/견과류<i class='fa fa-chevron-down'></i></h3>
				<div class='ingredient'>
					<ul>
						<li class='cereal-item'>밥</li>
						<li class='cereal-item'>감자</li>
						<li class='cereal-item'>고구마</li>
					</ul>
				</div>
			</li>

			<li>
				<h3 class='category manufact'>가공/유제품<i class='fa fa-chevron-down'></i></h3>
				<div class='ingredient'>
					<ul>
						<li class='manufact-item'>두부</li>
						<li class='manufact-item'>라면</li>
						<li class='manufact-item'>떡</li>
						<li class='manufact-item'>소면</li>
						<li class='manufact-item'>소주</li>
						<li class='manufact-item'>베이컨</li>
						<li class='manufact-item'>햄</li>
						<li class='manufact-item'>닭가슴살</li>
						<li class='manufact-item'>식빵</li>
						<li class='manufact-item'>치즈</li>
						<li class='manufact-item'>부침가루</li>
						<li class='manufact-item'>단무지</li>
						<li class='manufact-item'>달걀</li>
						<li class='manufact-item'>어묵</li>
						<li class='manufact-item'>참치</li>
						<li class='manufact-item'>밀가루</li>
						<li class='manufact-item'>김</li>
						<li class='manufact-item'>우유</li>
					</ul>
				</div>
			</li>

			<li>
				<h3 class='category Seasoning'>조미료<i class='fa fa-chevron-down'></i></h3>
				<div class='ingredient'>
					<ul>
						<li class='Seasoning-item'>설탕</li>
						<li class='Seasoning-item'>고추장</li>
						<li class='Seasoning-item'>소금</li>
						<li class='Seasoning-item'>참기름</li>
						<li class='Seasoning-item'>마요네즈</li>
						<li class='Seasoning-item'>진간장</li>
						<li class='Seasoning-item'>국간장</li>
						<li class='Seasoning-item'>후추</li>
						<li class='Seasoning-item'>고춧가루</li>
						<li class='Seasoning-item'>된장</li>
						<li class='Seasoning-item'>식초</li>
						<li class='Seasoning-item'>올리브유</li>
						<li class='Seasoning-item'>버터</li>
						<li class='Seasoning-item'>물엿</li>
						<li class='Seasoning-item'>케첩</li>
						<li class='Seasoning-item'>딸기잼</li>
						<li class='Seasoning-item'>깨</li>
						<li class='Seasoning-item'>굴소스</li>
					</ul>
				</div>
			</li>
		</ul>

		<div class='container-wrap'>
			<div class='container-btn-wrap'>
				<div class='cookEnter'>요리보기</div>
				<div class='refresh'><i class='fas fa-redo'></i></div>
			</div>
			<div class='ingre-item-container-wrap'>
				<ul class='ingre-item-container'>
					<!-- <li class="ingre-item"><span>12313213</span><button class="remove-ingre-item">X</button></li> -->
				</ul>
			</div>
		</div>
	</main>
	<nav>
		<ul class='nav-list'>
			<li><a href='ingredient.html'>요리재료 선택</a></li>
			<li><a href='memo.html'>장보기 메모</a></li>
			<li><a href='recommend.html'>오늘의 요리</a></li>
			<li><a href='myinfo.html'>회원 정보</a></li>
		</ul>
	</nav>
</div>