<div class='intro'></div>

<div class='login-container'>
	<main class='login-inner'>
		<h1 class='login-title'>로그인</h1>
		<form class='login-form'>
			<fieldset>
				<legend class='a11y-hidden'>로그인</legend>
				<input type='text' placeholder='아이디' id='idInput' autocomplete='off' />
				<input type='password' placeholder='패스워드' id='pwInput' autocomplete='off' />
				<label for='checkInput'>아이디/비밀번호를 확인해주세요</label>
				<div class='btn-wrap'>
					<input type='button' class='joinBtn' value='회원가입' route='/register' />
					<input type='button' class='submitBtn' value='로그인' route='/ingredient' />
				</div>
			</fieldset>
		</form>
	</main>
</div>