<nav>
	<ul class='nav-list'>
		<li><a href='#' route='/ingredient'>요리재료 선택</a></li>
		<li><a href='#' route='/memo'>장보기 메모</a></li>
		<li><a href='#' route='/recommend'>오늘의 요리</a></li>
		<li><a href='#' route='/myinfo'>회원 정보</a></li>
	</ul>
</nav>