<div class='container'>
	<header class='recipe-header'>
		<h1>요리 보기</h1>
		<button class='back-btn'>뒤로</button>
	</header>
	<main>
		<div class='bg-container'>
			<div class='main-container'>
				<figure class='main-image'>
					<img src='' />
					<figucaption class='a11y-hidden'>알리오 올리오</figucaption>
				</figure>
				<div class='main-description'>
					<div class='food-title'>
						<h2 class='food-name'></h2>
						<span>난이도</span>
						<span></span>
						{{! <a href='#' class='book-mark'><i class='fas fa-bookmark'>하이</i></a> }}
						<a href='#' class='book-mark'>📌</a>
					</div>
					<div class='list-container'>
						<div class='super-stuff'>
							<h2>
								<i class='far fa-dot-circle'></i>
								식재료
							</h2>
							<div class='bell'>
								<i class='fas fa-bell'></i>
								<span>식재료를 클릭하면 장보기로 이동합니다.</span>
							</div>
							<ul class='stuff-list'></ul>
						</div>
						<!-- <div class="sub-stuff">
              <h2>
                <i class="far fa-dot-circle"></i>
                조미료
              </h2>
              <ul>
                <li>x</li>
                <li>x</li>
                <li>x</li>
              </ul>
            </div> -->
						<ul class='recipe'></ul>
					</div>
				</div>
			</div>
		</div>
		<div class='popup'>
			<p>즐겨찾기에 <br />추가되었습니다.🍏</p>
		</div>
		<div class='popdown'>
			<p>즐겨찾기에 <br />제거되었습니다.🍏</p>
		</div>
		<div class='overlay'></div>
	</main>
</div>