<div class='total-cuisine-container'>
	<header class='cuisine-header'>오늘의 요리</header>
	<!-- <button class="back-btn">뒤로</button> -->
	<main class='cuisine-main'>
		<div class='container-wrap clearfix'></div>
		<div class='popup'>
			<p>즐겨찾기에 <br />추가되었습니다.🍏</p>
		</div>
		<div class='overlay'></div>

	</main>
</div>