.total-cuisine-container {
	background-color: #f8f8f8;
	min-height: 100vh;
}

.cuisine-header {
	position: relative;
}

.cuisine-back-btn {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	padding: 30px 40px;

	color: #fff;
	font-size: 16px;
}
.difficulty {
	border: 2px solid #888;
	border-radius: 50%;
	background-color: var(--main-color);
	color: #f8f8f8;
	padding: 5px;
	position: absolute;
	font-size: 25px;
	font-weight: 400;
	top: 10px;
	right: 10px;
}
.cuisine-img-wrapper {
	position: relative;
}

.preview {
	border-bottom: 2px solid #999;
	overflow-x: scroll;
	white-space: nowrap;
}

.preview-list > li {
	font-weight: 600;
	color: #777;
	margin: 10px 5px;
	padding: 10px 15px;
	border: 2px solid #888;
	border-radius: 15px;
	display: inline-block;
	cursor: pointer;
}

/* 공통 style */
.total-cuisine-container .container-wrap {
	margin: 22.5px 0;
	height: 100%;
	padding-bottom: 60px;
}

.cuisine-main {
	width: 100%;
	color: #333;
	font-weight: 600;
	margin: 0 auto;
	font-size: 18px;
}

.cuisine-container {
	width: 90%;
	margin: auto;
	margin-bottom: 20px;
	background-color: #fff;
}

.cuisine-img-wrapper {
	margin-bottom: 20px;
	width: 100%;
	height: 330px;
	transform-origin: scale(1.5);
}

.cuisine-img-wrapper img {
	width: 100%;
	max-height: 90%;
}

.cuisine-img-name {
	width: 85%;
	display: inline-block;
	margin-left: 10px;
	position: relative;
	color: #333;
	font-size: 18px;
}

.cuisine {
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	box-sizing: border-box;
	position: relative;
}

.no-data-container {
	height: 40vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.cuisine-main .fa-bookmark {
	font-size: 22.5px;
	position: absolute;
	bottom: 2.5px;
	right: 5px;
	padding: 10px;
}

.cuisine svg[data-prefix='fas'] {
	opacity: 0;
}

.addToCart > svg[data-prefix='fas'] {
	opacity: 1;
}

.no-data-container > p {
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.8;
	color: rgba(0, 0, 0, 0.6);
}

@media (min-width: 768px) {
	.cuisine-main {
		font-size: 18px;
	}

	.container-wrap {
		display: flex;
		flex-wrap: wrap;
	}

	.no-data-container-wrap {
		display: block;
	}

	.cuisine-container {
		width: 45%;
	}

	.cuisine {
		border: 5px solid transparent;
	}

	.cuisine-img-name {
		font-size: 24px;
	}

	/* 여기부터 */
	.bookmark {
		font-size: 28px;
	}
}

/* 모바일 사이즈 */
@media (min-width: 375px) and (max-width: 767px) {
	.cuisine-main {
		font-size: 14px;
	}

	.cuisine-container {
		width: 85%;
	}

	.cuisine-img-wrapper {
		height: 300px;
		transform-origin: scale(1.7);
	}

	.cuisine-img-name {
		font-size: 22.5px;
	}

	/* 여기부터 */
	.bookmark {
		font-size: 25px;
	}
}

@media (min-width: 319px) and (max-width: 374px) {
	.cuisine-main {
		font-size: 14px;
	}

	.cuisine-container {
		width: 85%;
	}

	.cuisine-img-wrapper {
		height: 200px;
		transform-origin: scale(1.5);
	}

	.cuisine-img-name {
		display: inline-block;
		margin-left: 10px;
		font-size: 18px;
		color: #333;
	}

	.fa-bookmark {
		font-size: 20px;
	}

	.no-data-container > p {
		font-size: 14px;
		line-height: 1.5;
	}
}
.popup {
	border: none;
	border-radius: 5px;
	text-align: center;
	line-height: 1.4;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 50px;
	background-color: #f8f8f8;
	padding: 15px;
	position: fixed;
	z-index: 2;
	top: 35%;
	left: 50%;
	transform: translateX(-50%);
	display: none;
}

.popdown {
	border: none;
	border-radius: 5px;
	text-align: center;
	line-height: 1.4;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 50px;
	background-color: #f8f8f8;
	padding: 15px;
	position: fixed;
	z-index: 2;
	top: 35%;
	left: 50%;
	transform: translateX(-50%);
	display: none;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}
