.ingredient-container {
	background-color: var(--main-color);
	height: 100%;
}

.ingredientes {
	padding-bottom: 59px;
}

.fa-chevron-down {
	float: right;
	cursor: pointer;
	transition: transform 1s;
}

.fa-chevron-down.active {
	transform: rotate(180deg);
}

.ingredient > ul {
	min-height: 50px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.category {
	position: relative;
	display: block;
	padding: 15px;
	background-color: #e9eaec;
	color: #333;
	border-bottom: 1px solid #666;
	cursor: pointer;
}

.ingredient {
	display: none;
}

.ingredient.view {
	display: block;
	background-color: #fff;
}

.ingredient ul {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.ingredient > ul > li {
	font-weight: 600;
	color: #777;
	margin: 10px 5px;
	padding: 10px 15px;
	border: 2px solid #888;
	border-radius: 15px;
	cursor: pointer;
}

.ingredient > ul > li.active {
	color: #e47921;
	border: 2px solid #e47921;
}

.ingredient ul li:hover {
	color: rgba(228, 121, 33, 0.7);
	border: 2px solid rgba(228, 121, 33, 0.7);
	/* border: 2px solid #e47921; */
}

.ingre-item-container {
	overflow: scroll;
	position: fixed;
	max-width: 100%;
	width: 1024px;
	height: 200px;
	bottom: 60px;
	border: 2px solid black;
	border-radius: 20px 20px 0 0;
	box-sizing: border-box;
	background-color: #f2ca58;
	padding: 10px;
	transition: transform 0.8s ease;
	transform: translateY(750px);
}

.ingre-item-container.active {
	transform: translateY(0px);
}

.ingre-item {
	font-weight: 600;
	color: #777;
	margin: 10px 5px;
	padding: 10px 15px;
	border: 2px solid #888;
	border-radius: 15px;
	display: inline-block;
	background-color: #fff;
}

.remove-ingre-item {
	display: inline-block;
	margin-left: 5px;
	width: 15px;
	height: 15px;
	border-radius: 15px;
	text-align: center;
	text-indent: -2.5px;
	line-height: 15px;
}

.container-btn-wrap {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	right: 0;
	z-index: 20;
	bottom: 260px;
	transition: transform 0.8s ease;
	transform: translateY(750px);
	opacity: 1;
}

.cookEnter {
	padding: 15px 17.5px;
	border-radius: 10px;
	bottom: 270px;
	transform: translate(50%);
	line-height: 20px;
	text-align: center;
	background-color: #fff;
	color: #e47921;
	border: 2px solid #e47921;
	box-sizing: border-box;
	transition: transform 0.7s ease;
	transform: translateY(750px);
}

.cookEnter:hover {
	background-color: #e47921;
	color: #fff;
	border: 2px solid #e47921;
}

.refresh {
	width: 54px;
	height: 54px;
	border-radius: 10px;
	bottom: 270px;
	transform: translate(50%);
	line-height: 50px;
	text-align: center;
	background-color: #fff;
	color: #e47921;
	border: 2px solid #e47921;
	box-sizing: border-box;
	transition: transform 0.7s ease;
	transform: translateY(750px);
}

.refresh.active,
.cookEnter.active,
.container-btn-wrap.active {
	transform: translateY(0px);
}

.refresh:hover {
	background-color: #e47921;
	color: #fff;
	border: 2px solid #e47921;
}

@media (min-width: 768px) {
	.ingredientes {
		padding-bottom: 19px;
	}
}

@media (min-width: 333px) and (max-width: 767px) {
	.ingredientes {
		padding-bottom: 59px;
	}
}
