.memo-header {
	position: relative;
}

.cart-memo-container {
	padding: 0 15px;
	padding-top: 20px;
	color: #333;
	background-color: #fff;
	min-height: 82vh;
}

.cart-memo-container > h3 {
	color: #333;
	font-weight: 600;
}

.cart-memo {
	margin-top: 20px;
}

.cart-memo > .cart-memo-input {
	width: 100%;
	padding: 15px 30px;
	border: none;
	box-sizing: border-box;
	border-radius: 30px;
	background-color: rgb(250, 169, 63, 0.9);
	margin-bottom: 20px;
	color: rgba(255, 255, 255, 0.9);
	outline: none;
	font-size: 18px;
}
.cart-memo > .cart-memo-input::placeholder {
	color: rgba(255, 255, 255, 0.9);
	font-size: 15px;
	font-weight: 500;
}

.cart-memo-list {
	height: 40vh;
	padding: 10px;
	overflow: auto;
	border: 1px solid rgba(250, 169, 63, 0.6);
}
.cart-memo-list li {
	position: relative;
	height: 30px;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	border-top: 1px solid rgba(250, 169, 63, 0.3);
	border-bottom: 1px solid rgba(250, 169, 63, 0.3);
	list-style: none;
}
.cart-memo-list li:first-child {
	border-top: none;
}
.checkbox {
	display: none;
}
.checkbox + label {
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translate3d(0, -50%, 0);
	display: inline-block;
	width: 60%;
	line-height: 2em;
	padding-left: 35px;
	cursor: pointer;
	user-select: none;
}

.checkbox + label::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate3d(0, -50%, 0);
	width: 16px;
	height: 16px;
	background-color: rgba(250, 169, 63, 0.3);
}
.checkbox:checked + label::after {
	background-color: rgba(250, 169, 63, 0.9);
}

.cart-memo-list .remove {
	position: absolute;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	right: 15px;
	padding: 5px 9px;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.4);
}
.cart-memo-list .remove:hover {
	border: 1px sold transparent;
	border-radius: 20px;
	color: #fff;
	background-color: rgba(250, 169, 63, 0.7);
}
.cart-all-btns {
	position: relative;
	height: 50px;
	padding: 10px 15px;
}
.cart-all-btns .checkbox + label::after {
	background-color: transparent;
	width: 17px;
	height: 17px;
	border: 2px solid rgba(250, 169, 63, 0.7);
	box-sizing: border-box;
}
.cart-all-btns .checkbox:checked + label::after {
	background-color: rgba(250, 169, 63, 0.8);
}

.cart-all-btns label[for='cart-all-check'] {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.7);
	font-weight: 500;
}

.cart-all-remove {
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	font-size: 16px;
	color: rgba(0, 0, 0, 0.7);
	font-weight: 500;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}
